.App-header {
    height: 150px;
    background: rgb(0, 101, 119); 
    background: linear-gradient(to bottom right, #181818,rgb(0, 101, 119));  height: 100px;
    padding: 30px;
    color: white;

  }
  
  .App-title {
    font-size: 3em;
  }
  
  .App-intro {
    font-size: large;
  }
  