.App {
  text-align: center;
  color: rgb(228, 228, 228);
}
.background-texture{
  background-color: #6f8cb3;
  background-image: url(./asfalt-dark.png);
  height: 2200px;
  width: 100%;
}
.searchList{
  width: 41%;
  float: left;
  margin: 0 2% 0 4%;
  height: 2000px;
  padding: 20px 0;
}
.searchBox{
  margin: 0 auto;
  width: 60%;
  padding:5px;
  background: white;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.searchList input{
  border: none;
}
.searchArrayTitle{
  font-size: 16px;
  width: 300px;
}
.searchArrayRelease{
  font-size: 12px;

}
.addButton{
  float: right;
}

.searchMovieItems{
  width: 100%;
  text-align: left;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to left, #7b9dc9,rgb(0, 101, 119));

}
